Repository AnnoDomine/dominic.seel.de: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, local-biome-check

mypy:
  name: MyPy
  entry: ./apps/backend/venv/bin/python -m mypy apps/backend
  language: system
  pass_filenames: false

local-biome-check:
  name: biome check
  entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

build(core): complete nx migration to 22.3.3
  migrations.json
  nx.json
Due: local-biome-check

feat(frontend): update acp details and user authentication logic
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.hooks.ts
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.tsx
  apps/frontend/src/app/components/organisms/profile/profile.hooks.ts
  apps/frontend/src/app/components/pages/acp/acp.tsx
  apps/frontend/src/main.tsx
  apps/frontend/src/redux/hooks/useUser.hooks.ts
Due: local-biome-check

fix(frontend): set moduleResolution to bundler for correct typechecking
  apps/frontend/tsconfig.app.json
Due: local-biome-check

fix(core): resolve security vulnerabilities in dependencies
  package.json
  pnpm-lock.yaml
Due: local-biome-check

chore(deps): update non-breaking dependencies
  package.json
  pnpm-lock.yaml
Due: local-biome-check

refactor(frontend): migrate react-router-dom to react-router v7
  apps/frontend/src/app/app.tsx
  apps/frontend/src/app/components/molecules/navigation-back/navigation-back.tsx
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.hooks.ts
  apps/frontend/src/app/components/molecules/project-acp-list/project-acp-list.tsx
  apps/frontend/src/app/components/molecules/project-details/project-details.hooks.ts
  apps/frontend/src/app/components/molecules/project-list/project-list.tsx
  apps/frontend/src/app/components/molecules/user-details/user-details.hooks.ts
  apps/frontend/src/app/components/molecules/user-list/user-list.tsx
  apps/frontend/src/app/components/organisms/acp-navigation/acp-navigation.tsx
  apps/frontend/src/app/components/pages/acp/acp.tsx
  apps/frontend/src/app/components/templates/layout/layout.tsx
  apps/frontend/src/app/components/templates/navigation/navigation.tsx
  apps/frontend/src/main.tsx
  package.json
  pnpm-lock.yaml
Due: local-biome-check

chore(deps): align @types/node with Node.js 24 runtime
  package.json
  pnpm-lock.yaml
Due: local-biome-check

feat(deps): update @swc/plugin-emotion to v14.1.0
  package.json
  pnpm-lock.yaml
Due: local-biome-check

chore(release): bump version to 0.1.8 and update changelog
  CHANGELOG.md
  package.json
Due: local-biome-check

docs: update changelog with comprehensive details for v0.1.8
  CHANGELOG.md
Due: none

feat(backend): add unit tests for portfolio app and config test runner
  apps/backend/portfolio/tests.py
  apps/backend/portfolio/tests/__init__.py
  apps/backend/portfolio/tests/test_models.py
  apps/backend/portfolio/tests/test_views.py
  apps/backend/project.json
Due: mypy, local-biome-check

ci: enable e2e and coverage checks on dev branch
  .github/workflows/ci.yml
  apps/backend/project.json
  apps/frontend-e2e/playwright.config.ts
  apps/frontend-e2e/src/example.spec.ts
  apps/frontend-e2e/src/login.spec.ts
  apps/frontend-e2e/src/public.spec.ts
  apps/frontend/src/redux/queries/project.ts
  apps/frontend/src/redux/queries/roadmap.ts
Due: local-biome-check

fix: Fix broken lock file
  pnpm-lock.yaml
Due: none

fix(pr-feedback): Address review comments and CI failures
  apps/backend/.env.example
  apps/backend/Dockerfile
  apps/backend/requirements.txt
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.hooks.ts
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.tsx
  apps/frontend/src/app/components/pages/acp/acp.tsx
  apps/frontend/src/redux/queries/api/base-query.ts
  libs/utils/src/utils/logger/useLogger.ts
Due: local-biome-check

fix(backend): Add default localhost origins to Django settings
  .github/workflows/ci.yml
  apps/backend/core/settings.py
  apps/backend/project.json
Due: mypy, local-biome-check

fix(e2e): Increase webServer timeout to 120s
  apps/frontend-e2e/playwright.config.ts
Due: local-biome-check

fix(frontend): Add explicit preview target for E2E tests
  apps/frontend/project.json
Due: local-biome-check

fix(frontend): Ensure build runs before preview for E2E tests
  apps/frontend-e2e/playwright.config.ts
  apps/frontend/project.json
  package.json
  pnpm-lock.yaml
Due: local-biome-check

feat(e2e): Log serve output for debugging webServer timeout
  apps/frontend-e2e/playwright.config.ts
  package.json
Due: local-biome-check

feat(frontend): Add debug logs to preview target for E2E
  .github/workflows/ci.yml
  apps/frontend/project.json
Due: local-biome-check

fix(frontend): remove preview target and correct user query import
  apps/frontend/project.json
  apps/frontend/src/redux/hooks/useUser.hooks.ts
Due: local-biome-check

ci: add branch policy to restrict master PRs to dev branch only
  .github/workflows/branch-policy.yml
Due: none

ci(branch-policy): refine branch policy to only run on master as base branch
  .github/workflows/branch-policy.yml
Due: none

ci(branch-policy): update condition to use github.ref instead of base_ref
  .github/workflows/branch-policy.yml
Due: none

fix(ci): revert branch policy condition to use base_ref for PRs
  .github/workflows/branch-policy.yml
Due: none

ci(branch-policy): add debug logging for ref inspection
  .github/workflows/branch-policy.yml
Due: none

ci(branch-policy): add branch naming convention check
  .github/workflows/branch-policy.yml
Due: none

ci(branch-policy): run branch policy checks on all pull requests
  .github/workflows/branch-policy.yml
Due: none

ci(branch-policy): skip branch name check for master target or dev source
  .github/workflows/branch-policy.yml
Due: none

fix(pnpm): Reinstall all packages and prune unused
  pnpm-lock.yaml
Due: none

fix(pnpm): Reinstall all packages and prune unused (#15)
  pnpm-lock.yaml
Due: none

fix(frontend): add process.env fallback for VITE_API_URL
  apps/frontend/src/redux/queries/api/base-query.ts
Due: local-biome-check

Fix/fix deploy cd (#16)
  apps/frontend/src/redux/queries/api/base-query.ts
Due: local-biome-check

docs: add branch naming conventions to AGENTS.md
  AGENTS.md
Due: none

ci(deploy): add createcachetable step
  .github/workflows/deploy.yml
Due: none

Feat/acp projects and techs (#17)
  .github/workflows/deploy.yml
  AGENTS.md
Due: none

feat(backend): add volume mappings for static and media files
  apps/backend/docker-compose.yml
Due: none

Feat/acp projects and techs (#18)
  apps/backend/docker-compose.yml
Due: none

feat(backend): add filtering, searching and ordering to RoadmapItemViewSet
  apps/backend/portfolio/views.py
Due: mypy

Path conditions:
  mypy: any of: ^apps/backend/ and \.py$
  local-biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$
