Repository AnnoDomine/dominic.seel.de: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, local-biome-check

mypy:
  name: MyPy
  entry: ./apps/backend/venv/bin/python -m mypy apps/backend
  language: system
  pass_filenames: false

local-biome-check:
  name: biome check
  entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

Refactor code structure for improved readability and maintainability
  .prettierignore
  .prettierrc
  .vscode/settings.json
  apps/frontend-e2e/biome.json
  apps/frontend-e2e/eslint.config.mjs
  apps/frontend-e2e/project.json
  apps/frontend/eslint.config.mjs
  eslint.config.mjs
  libs/utils/biome.json
  libs/utils/eslint.config.mjs
  nx.json
  package.json
  pnpm-lock.yaml
Due: local-biome-check

fix: update CI workflow to run biome-lint instead of lint for affected projects
  .github/workflows/ci.yml
Due: none

refactor: update CI workflow and reorganize imports for improved consistency
  .github/workflows/ci.yml
  apps/frontend-e2e/biome.json
  apps/frontend/biome.json
  apps/frontend/project.json
  apps/frontend/src/app/app.tsx
  apps/frontend/src/app/components/molecules/navigation-back/navigation-back.tsx
  apps/frontend/src/app/components/molecules/project-details/project-details.tsx
  apps/frontend/src/app/components/molecules/project-list/project-list.tsx
  apps/frontend/src/app/components/molecules/user-list/user-list.tsx
  apps/frontend/src/app/components/organisams/profile/profile.tsx
  apps/frontend/src/app/components/pages/acp/acp.tsx
  apps/frontend/src/redux/combinedReducers.ts
  biome.json
  libs/utils/biome.json
  libs/utils/src/index.ts
  libs/utils/src/utils/technologyIcons/technologyIcons.tsx
  libs/utils/src/utils/useInfinityScroll/useInfinityScroll.ts
Due: local-biome-check

fix: update biome check command to use default config path
  .github/workflows/ci.yml
Due: none

fix: remove unnecessary config path from biome check command
  .github/workflows/ci.yml
Due: none

fix: update navigation icon test to use shorthand type and adjust snapshot for login button tabindex
  .gitignore
  apps/backend/core/__pycache__/settings.cpython-313.pyc
  apps/backend/core/__pycache__/urls.cpython-313.pyc
  apps/frontend/src/app/app.spec.tsx
  apps/frontend/src/app/components/molecules/navigation-icon/navigation-icon.test.tsx
  apps/frontend/src/app/components/organisams/login/__snapshots__/login.test.tsx.snap
Due: local-biome-check

refactor: simplify README structure and enhance project description
  README.md
Due: none

fix: update linter configuration to use biome and remove unnecessary ESLint files from production inputs
  nx.json
Due: local-biome-check

fix: streamline scope-enum definition in commitlint configuration
  .commitlintrc.js
Due: local-biome-check

feat: add roadmap functionality and improve user experience
  apps/backend/db.sqlite3
  apps/backend/portfolio/views.py
  apps/frontend/src/app/app.tsx
  apps/frontend/src/app/components/molecules/loading/loading.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.hooks.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.tsx
  apps/frontend/src/app/components/organisms/acp-navigation/acp-navigation.constants.ts
  apps/frontend/src/app/components/organisms/acp-navigation/acp-navigation.tsx
  apps/frontend/src/app/components/organisms/login/__snapshots__/login.test.tsx.snap
  apps/frontend/src/app/components/organisms/login/login.test.tsx
  apps/frontend/src/app/components/organisms/login/login.tsx
  apps/frontend/src/app/components/organisms/profile/profile.hooks.ts
  apps/frontend/src/app/components/organisms/profile/profile.tsx
  apps/frontend/src/app/components/pages/acp/acp.tsx
  apps/frontend/src/app/components/pages/roadmap/roadmap.tsx
  apps/frontend/src/app/components/templates/layout/layout.tsx
  apps/frontend/src/redux/combinedApis.ts
  apps/frontend/src/redux/combinedReducers.ts
  apps/frontend/src/redux/queries/roadmap.ts
  apps/frontend/src/types/redux/roadmap.ts
  libs/utils/src/utils/dataGridHelpers/dataGridHelpers.ts
  package.json
  pnpm-lock.yaml
Due: mypy, local-biome-check

feat: add roadmap functionality and improve user experience (#8)
  apps/backend/db.sqlite3
  apps/backend/portfolio/views.py
  apps/frontend/src/app/app.tsx
  apps/frontend/src/app/components/molecules/loading/loading.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.hooks.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.tsx
  apps/frontend/src/app/components/organisms/acp-navigation/acp-navigation.constants.ts
  apps/frontend/src/app/components/organisms/acp-navigation/acp-navigation.tsx
  apps/frontend/src/app/components/organisms/login/__snapshots__/login.test.tsx.snap
  apps/frontend/src/app/components/organisms/login/login.test.tsx
  apps/frontend/src/app/components/organisms/login/login.tsx
  apps/frontend/src/app/components/organisms/profile/profile.hooks.ts
  apps/frontend/src/app/components/organisms/profile/profile.tsx
  apps/frontend/src/app/components/pages/acp/acp.tsx
  apps/frontend/src/app/components/pages/roadmap/roadmap.tsx
  apps/frontend/src/app/components/templates/layout/layout.tsx
  apps/frontend/src/redux/combinedApis.ts
  apps/frontend/src/redux/combinedReducers.ts
  apps/frontend/src/redux/queries/roadmap.ts
  apps/frontend/src/types/redux/roadmap.ts
  libs/utils/src/utils/dataGridHelpers/dataGridHelpers.ts
  package.json
  pnpm-lock.yaml
Due: mypy, local-biome-check

feat: Configures Nx agent and guidelines
  .gemini/settings.json
  AGENTS.md
Due: local-biome-check

build(core): migrate workspace to nx 22.2.3 and vitest 4
  apps/frontend/project.json
  apps/frontend/src/app/components/molecules/navigation-icon/navigation-icon.test.tsx
  apps/frontend/vite.config.ts
  libs/utils/vite.config.ts
  nx
  nx.json
  package.json
  pnpm-lock.yaml
  tools/ai-migrations/MIGRATE_VITEST_4.md
Due: local-biome-check

chore(core): add gemini agent configuration and documentation
  .gemini/settings.json
  AGENTS.md
Due: local-biome-check

chore(core): add .aiignore file with common ignore patterns
  .aiignore
Due: none

chore(core): update vscode extensions recommendations
  .vscode/extensions.json
Due: local-biome-check

chore(core): add mcp.json and track it in git
  .gitignore
  .vscode/mcp.json
Due: local-biome-check

chore(core): clean up vscode settings
  .vscode/settings.json
Due: local-biome-check

chore(shared): remove unused useInfinityScroll utility
  libs/utils/src/utils/useInfinityScroll/useInfinityScroll.ts
Due: local-biome-check

test(shared): add unit tests for utility functions
  libs/utils/src/utils/dataGridHelpers/dataGridHelpers.spec.ts
  libs/utils/src/utils/openInNewTab/openInNewTab.spec.ts
  libs/utils/src/utils/technologyIcons/technologyIcons.spec.tsx
Due: local-biome-check

feat(backend): Setup initial backend environment and configuration
  .gitignore
  .vscode/settings.json
  apps/backend/.env.example
  apps/backend/core/asgi.py
  apps/backend/core/settings.py
  apps/backend/core/wsgi.py
  apps/backend/db.sqlite3
  apps/backend/manage.py
  apps/backend/project.json
  apps/backend/requirements.txt
Due: mypy, local-biome-check

chore(backend): Update gitignore and fix settings type checking
  .gitignore
  apps/backend/core/__pycache__/__init__.cpython-313.pyc
  apps/backend/core/__pycache__/settings.cpython-313.pyc
  apps/backend/core/__pycache__/urls.cpython-313.pyc
  apps/backend/core/__pycache__/wsgi.cpython-313.pyc
  apps/backend/core/settings.py
  apps/backend/requirements.txt
Due: mypy

fix(frontend): Remove unused export to fix CI error
  libs/utils/src/index.ts
Due: local-biome-check

fix: Fix double definition
  apps/backend/core/settings.py
Due: mypy

chore(backend): Refine environment configuration and comments
  apps/backend/.env.example
  apps/backend/core/settings.py
Due: mypy

feat(backend): Setup initial backend environment and configuration (#9)
  .aiignore
  .gemini/settings.json
  .gitignore
  .vscode/extensions.json
  .vscode/mcp.json
  .vscode/settings.json
  AGENTS.md
  apps/backend/.env.example
  apps/backend/core/__pycache__/__init__.cpython-313.pyc
  apps/backend/core/__pycache__/settings.cpython-313.pyc
  apps/backend/core/__pycache__/urls.cpython-313.pyc
  apps/backend/core/__pycache__/wsgi.cpython-313.pyc
  apps/backend/core/asgi.py
  apps/backend/core/settings.py
  apps/backend/core/wsgi.py
  apps/backend/db.sqlite3
  apps/backend/manage.py
  apps/backend/project.json
  apps/backend/requirements.txt
  apps/frontend/project.json
  apps/frontend/src/app/components/molecules/navigation-icon/navigation-icon.test.tsx
  apps/frontend/vite.config.ts
  libs/utils/src/index.ts
  libs/utils/src/utils/dataGridHelpers/dataGridHelpers.spec.ts
  libs/utils/src/utils/openInNewTab/openInNewTab.spec.ts
  libs/utils/src/utils/technologyIcons/technologyIcons.spec.tsx
  libs/utils/src/utils/useInfinityScroll/useInfinityScroll.ts
  libs/utils/vite.config.ts
  nx
  nx.json
  package.json
  pnpm-lock.yaml
  tools/ai-migrations/MIGRATE_VITEST_4.md
Due: mypy, local-biome-check

feat(frontend): Implement user detail editing functionality
  apps/frontend/src/app/components/molecules/list-information/list-information.tsx
  apps/frontend/src/app/components/molecules/user-details/user-details.hooks.ts
  apps/frontend/src/app/components/molecules/user-details/user-details.tsx
  apps/frontend/src/redux/queries/user.ts
Due: local-biome-check

feat(frontend): Implement project management in Admin Control Panel
  apps/frontend/src/app/app.tsx
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.constants.ts
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.hooks.ts
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.tsx
  apps/frontend/src/app/components/molecules/project-acp-list/project-acp-list.tsx
  apps/frontend/src/app/components/molecules/technology-list/technology-list.hooks.tsx
  apps/frontend/src/app/components/organisms/acp-navigation/acp-navigation.constants.ts
  apps/frontend/src/redux/queries/project.ts
  apps/frontend/src/types/redux/project.ts
  apps/frontend/src/utils/routes/routes.ts
Due: local-biome-check

feat(backend): Setup initial backend environment and configuration (#9)
  .aiignore
  .gemini/settings.json
  .github/workflows/deploy.yml
  .gitignore
  .vscode/extensions.json
  .vscode/mcp.json
  .vscode/settings.json
  AGENTS.md
  apps/backend/.env.example
  apps/backend/core/__pycache__/__init__.cpython-313.pyc
  apps/backend/core/__pycache__/settings.cpython-313.pyc
  apps/backend/core/__pycache__/urls.cpython-313.pyc
  apps/backend/core/__pycache__/wsgi.cpython-313.pyc
  apps/backend/core/asgi.py
  apps/backend/core/settings.py
  apps/backend/core/wsgi.py
  apps/backend/db.sqlite3
  apps/backend/manage.py
  apps/backend/project.json
  apps/backend/requirements.txt
  apps/frontend/project.json
  apps/frontend/src/app/components/molecules/navigation-icon/navigation-icon.test.tsx
  apps/frontend/vite.config.ts
  libs/utils/src/index.ts
  libs/utils/src/utils/dataGridHelpers/dataGridHelpers.spec.ts
  libs/utils/src/utils/openInNewTab/openInNewTab.spec.ts
  libs/utils/src/utils/technologyIcons/technologyIcons.spec.tsx
  libs/utils/src/utils/useInfinityScroll/useInfinityScroll.ts
  libs/utils/vite.config.ts
  nx
  nx.json
  package.json
  pnpm-lock.yaml
  tools/ai-migrations/MIGRATE_VITEST_4.md
Due: mypy, local-biome-check

fix(core): fix wrong package manager in deply action
  .github/workflows/deploy.yml
Due: none

feat(core): Update to v 0.0.1
  package.json
Due: local-biome-check

fix(ci): ignore .env on backend deploy
  .github/workflows/deploy.yml
Due: none

fix(ci): set VITE_API_URL for frontend build
  .github/workflows/deploy.yml
Due: none

dev(logging): Add log for debug
  apps/frontend/src/redux/queries/api/base-query.ts
Due: local-biome-check

fix(auth): Fix unnecessary calls of user endpoint when unauthorised
  apps/frontend/src/redux/hooks/useUser.hooks.ts
  apps/frontend/src/redux/queries/user.ts
Due: local-biome-check

chore: Add deploy keys to .gitignore and update dependencies
  .gemini/settings.json
  .gitignore
  libs/utils/src/index.ts
  libs/utils/src/utils/logger/logger.ts
  package.json
  pnpm-lock.yaml
Due: local-biome-check

refactor(logger): Rename logger.ts to useLogger.ts and update index
  libs/utils/src/index.ts
  libs/utils/src/utils/logger/useLogger.ts
Due: local-biome-check

Integrate dev environment for live-server testing (#10)
  .gemini/settings.json
  .github/workflows/deploy.yml
  .gitignore
  .vscode/settings.json
  apps/backend/.env.example
  apps/backend/Dockerfile
  apps/backend/core/settings.py
  apps/backend/docker-compose.yml
  apps/backend/requirements.txt
  apps/frontend/src/redux/hooks/useUser.hooks.ts
  apps/frontend/src/redux/queries/api/base-query.ts
  apps/frontend/src/redux/queries/user.ts
  libs/utils/src/index.ts
  libs/utils/src/utils/logger/useLogger.ts
  package.json
  pnpm-lock.yaml
Due: mypy, local-biome-check

chore: start nx migration
  migrations.json
  package.json
  pnpm-lock.yaml
Due: local-biome-check

Path conditions:
  mypy: any of: ^apps/backend/ and \.py$
  local-biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$
