Repository AnnoDomine/dominic.seel.de: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, local-biome-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: detect-private-key

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.11
    hooks:
      - id: ruff-check
        name: Ruff Check
        args: ["apps/backend/", "--fix"]
      - id: ruff-format
        name: Ruff Format
        args: ["apps/backend/"]

  # Python Type Checking (MyPy)
  - repo: local
    hooks:
      - id: mypy
        name: MyPy
        entry: ./apps/backend/venv/bin/python -m mypy apps/backend
        language: system
        types: [python]
        files: ^apps/backend/
        pass_filenames: false

  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"

  - repo: local
    hooks:
      - id: commitlint
        name: Commitlint
        entry: npx --no-install commitlint --edit ${1}
        language: system
        stages: [commit-msg]

fix(frontend): revert api base query to use import.meta.env
  apps/frontend/src/redux/queries/api/base-query.ts
Due: local-biome-check

refactor(utils): support ignored fields in data grid filter parser
  libs/utils/src/utils/dataGridHelpers/dataGridHelpers.ts
Due: local-biome-check

feat(frontend): add infinite query support for roadmap api
  apps/frontend/src/redux/queries/roadmap.ts
  apps/frontend/src/types/redux/roadmap.ts
Due: local-biome-check

feat(frontend): implement kanban-style infinite scroll roadmap list
  apps/frontend/src/app/components/atoms/roadmap-item/roadmap-item.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.constants.ts
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.enums.ts
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.hooks.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.tsx
Due: local-biome-check

chore(frontend): setup storybook with vite
  .gitignore
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  apps/frontend/.storybook/main.ts
  apps/frontend/.storybook/preview.ts
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.json
  apps/frontend/tsconfig.storybook.json
  biome.json
  nx.json
  package.json
  pnpm-lock.yaml
Due: local-biome-check

feat(frontend): add storybook stories for atom components
  apps/frontend/src/app/components/atoms/content-container/content-container.stories.tsx
  apps/frontend/src/app/components/atoms/data-grid-pagination/data-grid-pagination.stories.tsx
  apps/frontend/src/app/components/atoms/layout-container/layout-container.stories.tsx
  apps/frontend/src/app/components/atoms/navigation-container/navigation-container.stories.tsx
  apps/frontend/src/app/components/atoms/project-role-icon/project-role-icon.stories.tsx
  apps/frontend/src/app/components/atoms/project-status-icon/project-status-icon.stories.tsx
  apps/frontend/src/app/components/atoms/project-type-icon/project-type-icon.stories.tsx
  apps/frontend/src/app/components/atoms/roadmap-item/roadmap-item.stories.tsx
  apps/frontend/src/app/components/atoms/spacer/spacer.stories.tsx
  apps/frontend/src/app/components/atoms/technoloy-modal/technology-modal.stories.tsx
Due: local-biome-check

feat(frontend): add storybook stories for basic molecule components
  apps/frontend/src/app/components/molecules/list-information/list-information.stories.tsx
  apps/frontend/src/app/components/molecules/loading/loading.stories.tsx
  apps/frontend/src/app/components/molecules/navigation-back/navigation-back.stories.tsx
  apps/frontend/src/app/components/molecules/navigation-icon/navigation-icon.stories.tsx
Due: local-biome-check

feat(frontend): add storybook stories for organisms, templates, and pages
  apps/frontend/src/app/components/organisms/acp-navigation/acp-navigation.stories.tsx
  apps/frontend/src/app/components/organisms/login/login.stories.tsx
  apps/frontend/src/app/components/organisms/profile/profile.stories.tsx
  apps/frontend/src/app/components/pages/acp/acp.stories.tsx
  apps/frontend/src/app/components/pages/home/home.stories.tsx
  apps/frontend/src/app/components/pages/projects/projects.stories.tsx
  apps/frontend/src/app/components/pages/roadmap/roadmap.stories.tsx
  apps/frontend/src/app/components/templates/layout/layout.stories.tsx
  apps/frontend/src/app/components/templates/navigation/navigation.stories.tsx
Due: local-biome-check

chore(frontend): update storybook addons and improve mock store setup
  apps/frontend/.storybook/main.ts
  apps/frontend/src/app/components/molecules/navigation-back/navigation-back.stories.tsx
  apps/frontend/src/app/components/molecules/navigation-icon/navigation-icon.stories.tsx
  apps/frontend/src/app/components/organisms/acp-navigation/acp-navigation.stories.tsx
  apps/frontend/src/app/components/organisms/login/login.stories.tsx
  apps/frontend/src/app/components/organisms/profile/profile.stories.tsx
  apps/frontend/src/app/components/pages/acp/acp.stories.tsx
  apps/frontend/src/app/components/pages/projects/projects.stories.tsx
  apps/frontend/src/app/components/pages/roadmap/roadmap.stories.tsx
  apps/frontend/src/app/components/templates/layout/layout.stories.tsx
  apps/frontend/src/app/components/templates/navigation/navigation.stories.tsx
  package.json
  pnpm-lock.yaml
Due: local-biome-check

feat(frontend): Adds drag-and-drop to roadmap list
  apps/frontend/src/app/components/atoms/navigation-container/navigation-container.tsx
  apps/frontend/src/app/components/atoms/roadmap-column/roadmap-column.tsx
  apps/frontend/src/app/components/atoms/roadmap-item/roadmap-item.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.hooks.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.tsx
  apps/frontend/src/main.tsx
  apps/frontend/src/redux/queries/roadmap.ts
  apps/frontend/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: local-biome-check

chore(core): update nx mcp server configuration
  .gemini/settings.json
Due: local-biome-check

feat(backend): add related_project to RoadmapItem model
  apps/backend/portfolio/migrations/0004_roadmapitem_related_project.py
  apps/backend/portfolio/models.py
Due: mypy

feat(frontend): refactor roadmap list to custom kanban board and add column reordering
  apps/frontend/src/app/components/atoms/roadmap-item/roadmap-item.tsx
  apps/frontend/src/app/components/molecules/roadmap-board/roadmap-board.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.hooks.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.tsx
  apps/frontend/src/utils/local-preferences/local-preferences.ts
Due: local-biome-check

chore(backend): add initial roadmap fixture from git history
  apps/backend/portfolio/fixtures/initial_roadmap.json
Due: local-biome-check

feat(backend): add data migration to load initial roadmap
  apps/backend/portfolio/migrations/0005_load_initial_roadmap.py
Due: mypy

chore(backend): refine roadmap fixture data
  apps/backend/portfolio/fixtures/initial_roadmap.json
Due: local-biome-check

fix(frontend): adjust layout constraints for roadmap board to prevent overflow
  apps/frontend/src/app/components/molecules/roadmap-board/roadmap-board.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.tsx
Due: local-biome-check

fix(frontend): use flex-grow for roadmap grid to fix overflow
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.tsx
Due: local-biome-check

feat(frontend): add roadmap details modal, search debounce, and improve layout
  apps/frontend/index.html
  apps/frontend/src/app/components/atoms/content-container/content-container.tsx
  apps/frontend/src/app/components/atoms/layout-container/layout-container.tsx
  apps/frontend/src/app/components/atoms/roadmap-details/roadmap-details.tsx
  apps/frontend/src/app/components/atoms/roadmap-item/roadmap-item.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.constants.ts
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.hooks.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.tsx
  apps/frontend/src/types/redux/roadmap.ts
Due: local-biome-check

feat(core): implement project data seeding and enhance project management with ACP permissions
  apps/backend/portfolio/fixtures/initial_projects.json
  apps/backend/portfolio/migrations/0006_load_initial_projects.py
  apps/backend/portfolio/views.py
  apps/frontend/src/app/components/atoms/project-acp-tech-list/project-acp-tech-item.tsx
  apps/frontend/src/app/components/atoms/project-acp-tech-list/project-acp-tech-list.tsx
  apps/frontend/src/app/components/atoms/roadmap-item/roadmap-item.tsx
  apps/frontend/src/app/components/atoms/tech-icon/tech-icon.tsx
  apps/frontend/src/app/components/molecules/list-information/list-information.tsx
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.hooks.ts
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.tsx
  apps/frontend/src/app/components/molecules/project-acp-technologies/project-acp-technologies.hooks.ts
  apps/frontend/src/app/components/molecules/project-acp-technologies/project-acp-technologies.tsx
  apps/frontend/src/app/components/molecules/project-details/project-details.tsx
  apps/frontend/src/app/components/molecules/roadmap-board/roadmap-board.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.tsx
  apps/frontend/src/redux/hooks/useUser.hooks.ts
  apps/frontend/src/redux/queries/project.ts
  apps/frontend/src/redux/queries/user.ts
Due: mypy, local-biome-check

test(frontend): update unit test snapshots
  apps/frontend/src/app/components/atoms/content-container/__snapshots__/content-container.test.tsx.snap
  apps/frontend/src/app/components/atoms/layout-container/__snapshots__/layout-conteiner.test.tsx.snap
  apps/frontend/src/app/components/atoms/navigation-container/__snapshots__/navigation-conteiner.test.tsx.snap
Due: none

fix(backend): resolve test data integrity issues and update test assertions
  apps/backend/portfolio/fixtures/initial_technologies.json
  apps/backend/portfolio/migrations/0006_load_initial_projects.py
  apps/backend/portfolio/tests/test_views.py
Due: mypy, local-biome-check

fix: address PR review comments and fix syntax error
  apps/backend/portfolio/migrations/0007_alter_roadmapitem_related_project.py
  apps/backend/portfolio/models.py
  apps/frontend/src/app/components/atoms/project-acp-tech-list/project-acp-tech-item.tsx
  apps/frontend/src/app/components/atoms/roadmap-details/roadmap-details.tsx
  apps/frontend/src/app/components/atoms/roadmap-item/roadmap-item.tsx
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.hooks.ts
  apps/frontend/src/app/components/molecules/project-acp-technologies/project-acp-technologies.hooks.ts
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.hooks.tsx
  apps/frontend/src/redux/queries/roadmap.ts
  package.json
  pnpm-lock.yaml
Due: mypy, local-biome-check

fix(frontend-e2e): filter roadmap items by status in mocks to resolve strict mode violations
  apps/frontend-e2e/src/public.spec.ts
Due: local-biome-check

fix(utils): resolve TS4094 in useLogger by using a factory function instead of a class
  libs/utils/src/utils/logger/useLogger.ts
Due: local-biome-check

fix: address final PR re-review comments including theme and efficiency fixes
  apps/backend/portfolio/views.py
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.hooks.tsx
  apps/frontend/src/main.tsx
Due: mypy, local-biome-check

feat(frontend): refetch specific roadmap columns after item status update
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.hooks.tsx
Due: local-biome-check

fix: address remaining PR review feedback for security, isolation, and efficiency
  apps/backend/portfolio/tests/test_views.py
  apps/backend/portfolio/views.py
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.hooks.ts
  apps/frontend/src/app/components/molecules/project-acp-technologies/project-acp-technologies.hooks.ts
  apps/frontend/src/app/components/molecules/project-details/project-details.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.hooks.tsx
  apps/frontend/src/main.tsx
Due: mypy, local-biome-check

fix: address final PR review feedback including refactoring, CSS fixes, and migration cleanup
  apps/backend/portfolio/migrations/0004_roadmapitem_related_project.py
  apps/backend/portfolio/migrations/0007_alter_roadmapitem_related_project.py
  apps/backend/portfolio/views.py
  apps/frontend/src/app/components/atoms/content-container/content-container.tsx
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.hooks.ts
  apps/frontend/src/app/components/molecules/project-acp-technologies/project-acp-technologies.hooks.ts
  apps/frontend/src/app/components/molecules/project-acp-technologies/project-acp-technologies.tsx
  apps/frontend/src/app/components/molecules/project-details/project-details.tsx
Due: mypy, local-biome-check

test(frontend): update vitest snapshots after UI refactoring
  apps/frontend/src/app/components/atoms/content-container/__snapshots__/content-container.test.tsx.snap
Due: none

fix: address final PR review points including static method refactor, date logic improvement, and code cleanup
  apps/backend/portfolio/views.py
  apps/frontend/src/app/components/atoms/roadmap-details/roadmap-details.tsx
  apps/frontend/src/app/components/molecules/project-acp-technologies/project-acp-technologies.hooks.ts
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.hooks.tsx
Due: mypy, local-biome-check

fix(frontend, backend): Resolve review comments from PR #19
  apps/backend/portfolio/views.py
  apps/frontend/src/app/components/atoms/roadmap-details/roadmap-details.tsx
  apps/frontend/src/app/components/molecules/project-acp-details/project-acp-details.hooks.ts
  apps/frontend/src/utils/local-preferences/local-preferences.ts
Due: mypy, local-biome-check

fix(frontend): Remove console.log and refetchInfinityQueries calls
  apps/frontend/src/app/components/atoms/roadmap-item/roadmap-item.tsx
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.hooks.tsx
Due: local-biome-check

fix(frontend): Final biome fixes in roadmap-list.hooks.tsx
  apps/backend/portfolio/views.py
  apps/frontend/src/app/components/molecules/project-acp-technologies/project-acp-technologies.hooks.ts
  apps/frontend/src/app/components/molecules/roadmap-list/roadmap-list.hooks.tsx
Due: mypy, local-biome-check

fix(ci): add process env support
  apps/frontend/src/redux/queries/api/base-query.ts
Due: local-biome-check

fix(ci): add process env support (#20)
  apps/frontend/src/redux/queries/api/base-query.ts
Due: local-biome-check

fix(ci): Add --no-cache to frontend build to resolve env var issues
  .github/workflows/deploy.yml
Due: none

Fix/fix deployment pipeline (#21)
  .github/workflows/deploy.yml
Due: none

fix(ci): reverse last changes
  .github/workflows/deploy.yml
Due: none
